<%= simple_form_for(@prediction) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title, label: false, placeholder: "Post Title" %>
    <%= f.input :url, label: false, placeholder: "Post URL" %>
    <%= f.input :handle, label: false, placeholder: "johnny" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, value: "optimize", class: "btn-primary" %>
  </div>
<% end %>
