<%
meta title: "post prediction for #{@prediction.handle}", description: "Results for #{@prediction.handle}."
%>
<div class="col-md-10">
  <!-- Link / Title -->
  <%= render 'post' %>
  <!-- Compose  -->
  <%= render 'compose' %>
  <!-- Comments -->
  <%= render 'predictions/comments/one' %>
  <%= render 'predictions/comments/one_reply' %>
  <%= render 'predictions/comments/two' %>
  <%= render 'predictions/comments/two_reply' %>
  <%= render 'predictions/comments/two_reply_two' %>
  <%= render 'predictions/comments/three' %>
</div>
<div class="col-md-2">
  something here to share
</div>