<!-- Comment One -->
<div class="row comments">
  <div class="col-md-1">
    <%= image_tag "up-down.jpg" %>
  </div>
  <div class="col-md-9">
    <p class="actions"><a><span class="handle">[-] <%= @u1 %></span></a> &nbsp; <%= @p1 %> points &nbsp; <%= @c1 %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        This is bullshit.  <%= Faker::Hacker.say_something_smart %>
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
  <div class="col-md-2"></div>
</div><div class="gap"></div>