<!-- Comment One Reply -->
<div class="row comments">
<div class="col-md-1"></div>
   <div class="col-md-1">
    <%= image_tag "down-vote.jpg" %>
  </div>
  <div class="col-md-8">
    <p class="actions"><a><span class="handle"><%= @u1r %></span></a> &nbsp;  <%= @p1r %>  points &nbsp; <%= @c1r %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        Agreed, they're not <%= Faker::Company.buzzword.downcase %> enough.
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
</div><div class="gap"></div>