<!-- Comment One -->
<div class="row comments">
  <div class="col-md-1">
    <%= image_tag "up-down.jpg" %>
  </div>
  <div class="col-md-9">
    <p class="actions"><a><span class="handle">[-] <%= @u2 %></span></a> &nbsp; <%= @p2 %> points &nbsp; <%= @c2 %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        I know everything because I go to <%= Faker::University.name %> and this would NEVER work.
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
  <div class="col-md-2"></div>
</div><div class="gap"></div>