<!-- Comment Two Reply -->
<div class="row comments">
<div class="col-md-1"></div>
   <div class="col-md-1">
    <%= image_tag "up-vote.jpg" %>
  </div>
  <div class="col-md-8">
    <p class="actions"><a><span class="handle"><%= @u2r %></span></a> &nbsp; <%= @p2r %>  points &nbsp; <%= @c2r %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        Come on guys, they're just trying to <%= Faker::Company.bs %>. You don't have to downvote.
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
</div><div class="gap"></div>